//- src/assets/_layout/default.pugを継承
extends /assets/_layout/default

//- meta設定
block vars
  //- その他変数
  - bodyClass = 'is-index';  //- bodyタグに付与するクラス
  - contentsId = 'index'

//- ページ個別のCSS
block css
  link(rel="stylesheet", href="./assets/css/index.css")

//- ページ個別のJS(head)
block scriptHead

//- ページ個別のJS
block script
  script(src="./assets/js/index.js")

//- ここからコンテンツ部分を記述
block contents
  model-viewer(
    src="./assets/3d/Astronaut.glb"
    ios-src="./assets/3d/Astronaut.usdz"
    alt=""
    background-color="#f5a742"
    shadow-intensity="0.8"
    ar
    ar-scale="auto"
    camera-controls
    magic-leap
    unstable-webxr
    quick-look-browsers="safari chrome"
    style="width: 100%; height: 100%; position: fixed"
  )

  //- div.cover.js-cover
